/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ecf0f3;
}
.container {
  max-width: 95%;
  margin: auto;
}
.nav_link {
  display: block;
  border-bottom: 1px solid rgba(84, 84, 84, 0.48);
  padding: 12px 0 11px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}

.right_img {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
  height: 500px;
  width: 510px;
  float: right;
}

.btn_shadow,
.service-box {
  transition: 0.5s all ease;
}
.box-wrap {
  transition: 0.5s all ease;
}
.btn_shadow:hover {
  background: #ff014f;
  color: white;
  transform: translateY(-10px);
}

.service-box:hover,
.box-wrap:hover {
  transform: translateY(-10px);
}

.section-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 4px;
  left: -40px;
  background: #4f46e5;
  z-index: -1;
}

.section-title::after {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  bottom: 4px;
  left: -60px;
  background: #4f46e5;
  z-index: -1;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.whatapp-icon {
  left: 0;
}

.top-btn {
  font-size: 18px;
  line-height: 36px;
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: #ff014f;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  outline: none;
  border: none;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.top-btn--icon {
  animation: gototop 1.2s linear infinite alternate-reverse;
}

@keyframes gototop {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(1rem);
  }
}

.img-border::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 400px;
  right: 3rem;
  bottom: 3rem;
  border: 5px solid blue;
  border-radius: 6px;
}

.img-border img {
  position: relative;
  top: 2rem;
  left: 2rem;
  max-width: 100%;
  width: calc(100% - 3rem);
  height: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.project-item {
  border-radius: 6px !important;
  padding: 24px !important;
  height: 100% !important;
  border: 1px solid #dee2e6 !important;
}

.project-item .project-link {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.project-item:hover .project-link {
  opacity: 1;
}

.project-item .project-link .fa {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}
.project-item .projct-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 6px !important;
}

.project-item h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #111;
  text-transform: capitalize;
}

.project-item p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.project-item .project-lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.project-lang .card__lang-fig {
  height: 20px;
  width: 20px;
}

.project-lang .card__lang-img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.project-lang .card__figcaption {
  font-size: 11px;
}
.project-carousel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 90px;
  width: 100%;
}

.project-carousel .project-dot {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dee2e6;
  padding: 20px;
  margin: 50%;
  border-radius: 50%;
}

.project-carousel .project-dot:hover {
  border-color: #ff014f;
  color: #fff;
  background: #ff014f;
}
.slick-slider .slick-dots li {
  margin-left: 30px;
  margin-bottom: 30px;
}

footer {
  padding: 30px 0 0;
  margin-top: 30px;
}

footer .container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

footer .icon-circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #43474b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
  text-align: center;
}

footer .icon-circle:hover {
  color: fff;
  background-color: #ff014f;
}

footer .footer-link::before {
  position: relative;
  content: "\203A";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  margin-right: 8px;
}

footer .footer-link {
  font-weight: normal;
  line-height: 1.5;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 2px;
  cursor: pointer;
  color: #43474b;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

footer .img-container {
  flex: 0 0 auto;
  width: 31%;
}
footer .img-container img {
  border-radius: 6px !important;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

footer .form-submit {
  position: absolute;
  background-color: #ff014f;
  top: 0;
  right: 0;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ff014f;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
  padding: 6px 12px;
  margin-right: 8px;
  margin-top: 8px;
}
footer .copywrite {
  padding-top: 25px;
  display: block;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
  width: 90%;
  margin: 20px auto 0;
  font-size: 16px;
  text-align: center;
  align-self: center;
}
.header {
  width: 100%;
}
.header.active {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #ecf0f3;

  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .card__side {
    width: 100%;
  }
  .slick-slide {
    margin: 0;
  }
  footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
